*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.navbar{
    height:72px;
    background:#fff;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 35px;
    border-bottom:1px solid #e5e7eb;
    position:sticky;
    top:0;
    z-index:100;
}

/* Search Box */

.search-box{
    width:550px;
    height:46px;
    border:1px solid #e5e7eb;
    border-radius:12px;
    display:flex;
    align-items:center;
    padding:0 18px;
    background:#fff;
}

.search-box i{
    color:#9ca3af;
    font-size:15px;
    margin-right:12px;
}

.search-box input{
    width:100%;
    border:none;
    outline:none;
    font-size:15px;
    background:transparent;
}

/* Right Side */

.nav-right{
    display:flex;
    align-items:center;
    gap:30px;
}

/* Notification */

.notification{
    font-size:21px;
    color:#444;
    cursor:pointer;
    transition:.3s;
}

.notification:hover{
    color:#2563eb;
}

/* Profile */

.profile{
    display:flex;
    align-items:center;
    gap:10px;
    cursor:pointer;
}

.avatar{
    width:44px;
    height:44px;
    border-radius:50%;
    background:#2563eb;
    color:#fff;
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:600;
    font-size:18px;
}

.profile span{
    font-size:16px;
    font-weight:600;
    color:#222;
}

.profile i:last-child{
    font-size:12px;
    color:#777;
}