<nav class="navbar">

  <div class="search-box">
    <i class="bi bi-search"></i>
    <input
      type="text"
      placeholder="Search pickups, opportunities..."
    />
  </div>

  <div class="nav-right">

    <i class="bi bi-bell notification"></i>

    <div class="profile" (click)="toggleDropdown()">

      <div class="avatar">
        {{ avatar }}
      </div>

      <span>{{ fullName }}</span>

      <i class="bi bi-chevron-down"></i>

      <div class="dropdown-menu" *ngIf="isDropdownOpen">

        <div class="dropdown-item" routerLink="/my-profile">
          My Profile
        </div>

        <div class="dropdown-item" (click)="logout()">
          Sign Out
        </div>

      </div>

    </div>

  </div>

</nav>