*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.sidebar{
    width:260px;
    height:100vh;
    background:#ffffff;
    border-right:1px solid #e5e7eb;
    display:flex;
    flex-direction:column;
    position:fixed;
    left:0;
    top:0;
    padding:20px;
}

/* Logo */

.logo{
    text-align:center;
    margin-bottom:30px;
}

.logo h2{
    color:#2e7d32;
    font-size:26px;
    font-weight:700;
}

/* Profile */

.profile-section{
    text-align:center;
    margin-bottom:35px;
}

.avatar{
    width:70px;
    height:70px;
    border-radius:50%;
    background:#43a047;
    color:white;
    font-size:28px;
    font-weight:bold;
    display:flex;
    align-items:center;
    justify-content:center;
    margin:0 auto 15px;
}

.user-details h4{
    font-size:18px;
    margin-bottom:5px;
    color:#222;
}

.user-details p{
    color:#777;
    font-size:14px;
}

/* Menu */

.menu{
    list-style:none;
    margin-top:10px;
    flex:1;
}

.menu li{
    margin-bottom:10px;
}

.menu a{
    display:flex;
    align-items:center;
    gap:12px;
    text-decoration:none;
    color:#333;
    padding:14px 16px;
    border-radius:10px;
    transition:.3s;
    font-weight:500;
}

.menu a:hover{
    background:#e8f5e9;
    color:#2e7d32;
}

.menu a.active{
    background:#43a047;
    color:#fff;
}

.menu span{
    font-size:18px;
}

/* Logout */

.logout-section{
    margin-top:auto;
}

.logout-section button{
    width:100%;
    padding:13px;
    border:none;
    border-radius:10px;
    background:#e53935;
    color:#fff;
    font-size:15px;
    cursor:pointer;
    transition:.3s;
}

.logout-section button:hover{
    background:#c62828;
}