*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.sidebar{
    width:260px;
    height:100vh;
    background:#fff;
    border-right:1px solid #e5e7eb;
    padding:18px 16px;
    position:fixed;
    left:0;
    top:0;
    overflow-y:auto;
}

/* Logo */

.logo{

    display:flex;
    align-items:center;
    gap:10px;

    font-size:32px;
    font-weight:700;
    color:#222;
}

.logo i{

    color:#2CB673;
    font-size:28px;
}

/* User */

.user-card{

    display:flex;
    align-items:center;
    gap:14px;

    margin:35px 0;
}

.avatar{

    width:46px;
    height:46px;

    border-radius:50%;

    background:#2F6FE4;
    color:#fff;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:18px;
    font-weight:600;
}

.user-details h4{

    font-size:18px;
    margin-bottom:3px;
}

.user-details p{

    color:#888;
    font-size:14px;
}

/* Menu */

.menu-title{

    font-size:12px;
    color:#9ca3af;
    font-weight:600;
    margin:25px 0 15px;
}

ul{

    list-style:none;
}

ul li{

    display:flex;
    align-items:center;

    gap:15px;

    padding:12px 14px;

    margin-bottom:8px;

    border-radius:10px;

    cursor:pointer;

    transition:.3s;

    font-size:15px;
}

ul li:hover{

    background:#f3f4f6;
}

ul li i{

    font-size:18px;
    color:#555;
}

.active{

    background:#EAF2FF;
    color:#2563eb;
    border-left:4px solid #2563eb;
}

.active i{

    color:#2563eb;
}

.dark-mode{
    margin-top:25px;
    padding:12px 0;
    border-top:1px solid #f1f1f1;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

.theme-toggle{
    display:flex;
    align-items:center;
    gap:8px;
}

.theme-toggle i{
    font-size:14px;
    color:#9ca3af;
}

/* Toggle */
.switch{
    position:relative;
    width:42px;
    height:22px;
}

.switch input{
    display:none;
}

.slider{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:#d1d5db;
    border-radius:20px;
    cursor:pointer;
    transition:.3s;
}

.slider::before{
    content:"";
    position:absolute;
    width:16px;
    height:16px;
    left:3px;
    top:3px;
    background:#fff;
    border-radius:50%;
    transition:.3s;
}

input:checked + .slider{
    background:#2563eb;
}

input:checked + .slider::before{
    transform:translateX(20px);
}