<div class="sidebar">

  <!-- Logo -->
  <div class="logo">
    <h2>♻️ WasteZero</h2>
  </div>

  <!-- User -->
  <div class="profile-section">

    <div class="avatar">
      {{ user?.fullName?.charAt(0) || 'U' }}
    </div>

    <div class="user-details">
      <h4>{{ user?.fullName }}</h4>
      <p>{{ user?.role }}</p>
    </div>

  </div>

  <!-- Menu -->
  <ul class="menu">

    <!-- Dashboard -->
    <li>
      <a
        routerLink="/dashboard"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        <span>🏠</span>
        Dashboard
      </a>
    </li>

    @if (isAdmin) {

      <li>
        <a routerLink="/users" routerLinkActive="active">
          <span>👥</span>
          Users
        </a>
      </li>

      <li>
        <a routerLink="/opportunities" routerLinkActive="active">
          <span>♻️</span>
          Opportunities
        </a>
      </li>

      <li>
        <a routerLink="/reports" routerLinkActive="active">
          <span>📊</span>
          Reports
        </a>
      </li>

    }

    @if (isNGO) {

      <li>
        <a routerLink="/opportunities" routerLinkActive="active">
          <span>📢</span>
          Opportunities
        </a>
      </li>

    }

    @if (isVolunteer) {

      <li>
        <a routerLink="/opportunities" routerLinkActive="active">
          <span>🌱</span>
          Opportunities
        </a>
      </li>

    }

    <!-- Common -->
    <li>
      <a routerLink="/my-profile" routerLinkActive="active">
        <span>👤</span>
        My Profile
      </a>
    </li>

  </ul>

  <!-- Logout -->
  <div class="logout-section">

    <button (click)="logout()">
      🚪 Logout
    </button>

  </div>

</div>