<div class="admin-dashboard">

  <!-- Header -->
  <div class="dashboard-header">
    <div>
      <h2>Welcome back, {{ userName }} 👋</h2>
      <p>Manage the WasteZero platform efficiently.</p>
    </div>

    <span class="role-badge">ADMIN</span>
  </div>

  <!-- Error Message -->
  <p *ngIf="errorMessage">
    {{ errorMessage }}
  </p>

  <!-- Statistics Cards -->
  <div class="stats-grid">

    <!-- Total Users -->
    <div class="stat-card">
      <div class="stat-icon">👥</div>
      <h3>Total Users</h3>

      <span *ngIf="!loading">
        {{ stats.totalUsers }}
      </span>

      <span *ngIf="loading">...</span>
    </div>


    <!-- Total Opportunities -->
    <div class="stat-card">
      <div class="stat-icon">📢</div>
      <h3>Opportunities</h3>

      <span *ngIf="!loading">
        {{ stats.totalOpportunities }}
      </span>

      <span *ngIf="loading">...</span>
    </div>


    <!-- Admin Opportunities -->
    <div class="stat-card">
      <div class="stat-icon">🛡️</div>
      <h3>Admin Opportunities</h3>

      <span *ngIf="!loading">
        {{ stats.adminOpportunities }}
      </span>

      <span *ngIf="loading">...</span>
    </div>


    <!-- NGO Opportunities -->
    <div class="stat-card">
      <div class="stat-icon">🌱</div>
      <h3>NGO Opportunities</h3>

      <span *ngIf="!loading">
        {{ stats.ngoOpportunities }}
      </span>

      <span *ngIf="loading">...</span>
    </div>

  </div>


  <!-- Bottom Section -->
  <div class="dashboard-content">

    <!-- Quick Actions -->
    <div class="dashboard-card">
      <h3>Quick Actions</h3>

      <button>👥 Manage Users</button>
      <button>♻️ Manage Opportunities</button>
      <button>📊 View Reports</button>
    </div>


    <!-- Recent Activity -->
    <div class="dashboard-card">
      <h3>Recent Activity</h3>

      <ul>
        <li>🟢 New NGO registered successfully</li>
        <li>🟢 Volunteer joined an opportunity</li>
        <li>🟢 Opportunity created successfully</li>
        <li>🟢 User profile updated</li>
      </ul>
    </div>

  </div>


  <!-- Platform Overview -->
<div class="dashboard-card analytics-card">

  <h3>Platform Overview</h3>

  <p>
    Monitor and manage the WasteZero platform by overseeing users,
    opportunities, volunteer applications, and activities created by
    NGOs and administrators.
  </p>

  <br>

  <strong>Admin Responsibilities</strong>

  <ul>
    <li>👥 Manage registered users and their roles</li>
    <li>📢 Monitor opportunities created across the platform</li>
    <li>📄 Review volunteer applications</li>
    <li>🛡️ Manage administrative activities and platform operations</li>
  </ul>

</div>

